# IDE files
.idea
*.iml
*.iws
*.ipr

# Compiled files
target
out
build
bin
*.class

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
log
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Logs
*.log
logs

target/BattlePassRevive-1.0-SNAPSHOT.jar
target/original-BattlePassRevive-1.0-SNAPSHOT.jar
